h1{
	align-items: center;
	<a 
}

#contener
{
	display: flex;
 	justify-content: flex-end;
 }
#co{
	color: white;
	background-color: blue;
	border-radius: 1px;
	text-decoration: none;
}
	


.nav {
	display: flex;
}

#element1{

}

#Doodle{
	display: flex;
	justify-content: flex-start;
}

#label{
background-color: #2DACD6

}

#header{
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 200px
	justify-content: center;
	padding: 150px
  }

   #bouton{
 	display: flex;
 	flex-direction: ;
 	justify-content: center;
 	padding: 20px 0 0 0
 	}

 #footer {
 	display: flex;
 	flex-direction: row
 	justify-content: flex-start;
 	background-color: #ebe6e4
 }
 #connexion{
 	background-color: black
 }


.class{
	text-align: center;
}
.lien{
	margin: 0 5px
}
.ss{
	/*?*/
}
.pays{
	display: flex;
	background-color: #ebe6e4
 }
 .gch{
 	display: flex;
 	justify-content: flex-start;
 } 